*{
    font-family: 'Ubuntu', sans-serif;
}
html,body{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}
/*----------Cabeçalho---------*/
#Cabecalho{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(imagens/teste3.jpeg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    text-align:center;
    position:relative;
}
.usuario{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align:center;
}
.usuario img{
    border-radius: 50%;
    width:250px;
    border:2px solid transparent;
    position: center;
}
.usuario h1{
    color: #fff;
    font-weight: bold;
    margin:10px;
}
.usuario p{
    color:#fff
}
.scroll{
    bottom: 30px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    border: 2px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.barra-scroll span{
    border:2px solid #fff;
    font-size: 10px;
    border-radius:30px;
}
.barra-scroll{
    animation: mover 1s infinite alternate;
}
@keyframes mover{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}
header{
    position:fixed;
    top:0;
    left:0;
    padding:0 100px;
    background:#000;
    width:100%;
    box-sizing: border-box;
    z-index:1;
}
header .logo{
    color:#fff;
    height:50px;
    line-height:50px;
    font-size:24px;
    float:left;
    font-weight:bold;
}
header nav{
    float:right;
}
header nav ul{
    margin:0;
    padding:0;
    display:flex;
}
header nav ul li a{
    height:50px;
    line-height:50px;
    padding:0 20px;
    color:#fff;
    text-decoration:none;
}
header nav ul li a:hover, header nav ul li a.active{
    color:#fff;
    background: #221199;
}
.menu-toggle{
    color:#000;
    float:right;
    line-height:50px;
    font-size:24px;
    cursor:pointer;
    display:none;
}
/*--Serviços--*/
.servicos{
    padding-top:100px;
    padding-bottom:50px;
}
.servicos .resumo{
    text-align:center;
}
.servicos h1{
    margin-bottom: 15px;
    position: relative;
    top: 50%;
    margin-top:-25px;
    left:46.5%;
    margin-left:-100px;
}
.servicos-caixa{
    background: #f9f9f9;
    padding:10px;
    margin-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width:500px;
    margin-left:60px;
}
.servicos-caixa .fa{
    margin: 0 10px;
    font-size: 20px;
}
.servicos-caixa span{
    margin: 170px;
    font-size:20px;
    font-weight: bold;
    text-align:relative;
}
.servicos-caixa p{
    font-size: 15px;
    margin-top:20px;
    color: #777;
    text-align:center;
}
.servicos-caixa:hover{
    background: #000;
    color: #fff;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}
.servicos-caixa:hover p{
    color: #fff;
}
.coluna1{
    background-color: white;
    margin-top: 1px;
    float: left;
    width: 33%; 
    height: 200px; 
}
.coluna2{
    background-color: white;
    margin-top: 1px;
    float: left;
    width: 33%; 
    height: 200px; 
}
.coluna3{
    background-color: white;
    margin-top: 1px;
    float: left;
    width: 34%; 
    height: 200px; 
}
/*--Contato--*/
.contato{
    padding-top: 50px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(imagens/slothservicos.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: local;
    color: #fff;
}
.contato .container h1{
    margin-top:2px;
}
.contato .row{
    padding:30px 0;
    font-size: 22px;
}
.footer{
    background: #000;
    height: 55px;
    margin-top: 50px;
    color: #fff;
    padding-top:2px;
}
.footer p{
    text-align:center;
}
.coluna4{
    background-color: transparent;
    margin-top:1px;
    float: left;
    width:33%;
    height: 100px;
    text-align:center;
}
.contato .container{
    text-align:center;
}
/*--Sobre--*/
.sobre .coluna-1{
    width:50%;
    height:100px;
}
.sobre .coluna0{
    width:50%;
    height:100px;
}
.menu{
    background-color: white;
    margin-top: 1px;
    float: left;
    width: 50%; 
    height: 500px; 
}
.conteudo{
    background-color: white;
    float: right;
    margin-top: 2px;
    width: 50%;
    height: 500px;
}
.conteudo h2{
    text-align:center;
}
.conteudo p{
    text-align:left;
    margin-top:1px;
}
.conteudo .meter{
    height:7px;
    position:right;
    background: #555;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
    padding:10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    width:200px
}
.conteudo .meter > span {
    display:block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: green;
    background-image: linear-gradient(center bottom,rgb(43,194,83) 37%,rgb(84,240,84) 69%);
    box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);
    position: right;
    overflow: hidden;
}
.conteudo .mano{
    margin-top:14px;
    font-size:16;
    margin-left:-90px;
}
.conteudo .man{
    margin-top:14px;
    font-size:16;
    margin-left:75px;
}
.tutorial_h1{
    font-size: 40px;
    text-align: center;
    position: relative;
}
.tutorial{
    background-color:white;
    margin-bottom: 20px;
    padding: 10px;
    float: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
}
.tutorial p{
    text-align:left;
    font-size:20px;
}
.link{
    text-decoration: none;
    color: white;
}
.imagem{
    width:660px;
    margin-left:170px;
}
.banner-imagem {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imagens/preguica3.jpeg");
    height: 41%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: right;
    margin-top:40px;
}
  
.banner-texto {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.lateral {
    width: 140px;
    position: absolute;
    top: 450px;
    left: 10px;
    background: #000;
    padding: 8px 0;
    border-radius:40px;
}
  
.lateral a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    text-align:center;
}
  
.book-summary a:hover {
    color: #221199;
}
.main {
    margin-left: 200px;
    font-size: 28px;
    padding: 0px 10px;
}
.main .tutorial_h1{
    text-align:center;
}
.main .titulos_tutorial{
    text-align:left;
    font-size:30px;
}
.main .principal{
    font-size:22px;
    text-align:center;
}
.main .imagem{
    width:600px;
    height:400px;
}
.main p{
    font-size: 22px;
}
.book-summary{
    width: 190px;
    position: absolute;
    top: 450px;
    left: 10px;
    background: #000;
    padding: 8px 0;
    float: left;
    border: 1px solid #CCC;
    text-align: center;   

}
.summary{
    margin: 0; padding: 0px;
    text-align:center;
    font-size: 20px;
    list-style-type: none;
    background: rgb(3, 3, 3);
    color: rgb(255, 255, 255);
    position: center;
}
#linha{
    border-bottom: 1px solid #CCC;
    
}